<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viseven Task 3</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="wrapper">
            <header class="header">
                <div class="container">
                    <h1 class="title">Welcome to Viseven <span>imagestock</span></h1>
                </div>
            </header>
            <main>
                <div class="container">
                    <div class="main__inner">
                        <div v-for="image in images" class="block"
                            v-bind:class="{ 'block--wide': image.wider(), 'block--height': image.heighter() }"
                            v-bind:data-id="image.id" v-on:click="openPopUp(image)">
                            <figure class="image">
                                <img v-bind:src="image.src" alt="">
                                <figcaption class="caption">
                                    <div class="reaction comment">
                                        <img src="img/icon-comments.svg" alt="Comment">
                                        <span class="count">{{ image.comments.length }}</span>
                                    </div>
                                    <div class="reaction dislike">
                                        <img src="img/icon-dislike.svg" alt="Dislike">
                                        <span class="count">{{ image.dislike }}</span>
                                    </div>
                                    <div class="reaction like">
                                        <img src="img/icon-like.svg" alt="Like">
                                        <span class="count">{{ image.like }}</span>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <img src="#" alt="" id="newImage">
                        <label for="load-pic" class="block block--last text" @input="addNewImage">
                            <img src="img/icon-add.svg" alt="Add" class="block__add">
                            Add you Picture
                            <input type="file" name="load-pic" id="load-pic" accept=".jpg, .jpeg, .png">
                        </label>
                    </div>
                </div>
            </main>
        </div>
        <temp-pop-up v-bind:is="currentImage"></temp-pop-up>
        <template id="popup-vue">
            <div id="pop-up">
                <div class="pop-up__inner">
                    <div class="media">
                        <figure class="image">
                            <img v-bind:src="currentImage.src" alt="Pop up image">
                            <figcaption class="caption">
                                <a href="#" class="reaction dislike" @click.prevent="addDislike">
                                    <img src="img/icon-dislike.svg" alt="">
                                    <span class="count">{{ currentImage.dislike }}</span>
                                </a>
                                <a href="#" class="reaction like" @click.prevent="addLike">
                                    <img src="img/icon-like.svg" alt="">
                                    <span class="count">{{ currentImage.like }}</span>
                                </a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="content">
                        <div class="close">
                            <button class="close__btn" v-on:click="closePopUp()">
                                <img src="img/icon_close.svg" alt="close">
                            </button>
                        </div>
                        <div class="comments">
                            <h2 class="title">Comments: {{ currentImage.comments.length }}</h2>
                            <div class="comments__inner">
                                <div class="comments__item" v-for='comment in currentImage.comments'>
                                    <div class="comments__caption">
                                        <p class="comments__author text">
                                            by {{ comment.author }}
                                        </p>
                                        <p class="comments__date text">
                                            {{ comment.date }}
                                        </p>
                                    </div>
                                    <div class="comments__text">
                                        <p class="text">
                                            {{ comment.text }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="comments-add">
                                <div class="comments-add__inner">
                                    <input type="text" name="nickname" id="nickname"
                                        class="text comments-add__input comments-add__nickname"
                                        placeholder="Type your nickname here..." v-model="newComment.author">
                                    <input type="text" name="review" id="review"
                                        class="text comments-add__input comments-add__review"
                                        placeholder="Write your comment here..." v-model="newComment.text">
                                    <button class="btn" @click="addComment"><img src="img/icon_send.svg"
                                            alt="Send"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>